<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title">Payments</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive" style="height:80vh;overflow-x:hidden;">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Date
                </th>
                <th>
                  Email
                </th>
                <th>
                  UserID
                </th>
                <th>
                  Payment Method
                </th>
                <th class="text-center">
                  Amount
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  12/11/18
                </td>
                <td>
                  email@email.com
                </td>
                <th>
                  12903847
                </th>
                <td>
                  Paypal
                </td>
                <td class="text-center">
                  €12.90
                </td>
              </tr>
              <tr>
                <td>
                  19/10/18
                </td>
                <td>
                  email@email.com
                </td>
                <th>
                  12903847
                </th>
                <td>
                  Paypal
                </td>
                <td class="text-center">
                  €9.80
                </td>
              </tr>
              <tr>
                <td>
                  11/10/18
                </td>
                <td>
                  email@email.com
                </td>
                <th>
                  12903847
                </th>
                <td>
                  Paypal
                </td>
                <td class="text-center">
                  €12.00
                </td>
              </tr>
              <tr>
                <td>
                  02/10/18
                </td>
                <td>
                  email@email.com
                </td>
                <th>
                  12903847
                </th>
                <td>
                  Paypal
                </td>
                <td class="text-center">
                  €11.80
                </td>
              </tr>
              <tr>
                <td>
                  28/09/18
                </td>
                <td>
                  email@email.com
                </td>
                <th>
                  12903847
                </th>
                <td>
                  Paypal
                </td>
                <td class="text-center">
                  €7.20
                </td>
              </tr>
              <tr>
                <td>
                  21/09/18
                </td>
                <td>
                  email@email.com
                </td>
                <th>
                  12903847
                </th>
                <td>
                  Paypal
                </td>
                <td class="text-center">
                  €4.50
                </td>
              </tr>
              <tr>
                <td>
                  17/09/18
                </td>
                <td>
                  email@email.com
                </td>
                <th>
                  12903847
                </th>
                <td>
                  Paypal
                </td>
                <td class="text-center">
                  €8.90
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
