<% content_for(:header) do %>
<script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-firestore.js"></script>
<% end %>
<script>
if(!firebase.apps.length) {
  firebase.initializeApp({
    apiKey: ' AIzaSyC6MpEIqlVRJSLrj1jxKGadGIZF_JmmHoU',
    authDomain: 'transport-ai-1537358687680.firebaseapp.com',
    projectId: 'transport-ai-1537358687680'
  });
}

// Initialize Cloud Firestore through Firebase
var db = firebase.firestore();

// Disable deprecated features
db.settings({
  timestampsInSnapshots: true
});

var docRef = db.collection("cars").doc("00-XX-00000");

docRef.get().then(function(doc) {
  if (doc.exists) {
    //  console.log("Document data:", doc.data());
  } else {
    // doc.data() will be undefined in this case
    console.log("No such document!");
  }
}).catch(function(error) {
  console.log("Error getting document:", error);
});
var first = true;
db.collection("reviews").onSnapshot(function(ss) {
  if(first) {
    first = false;
    return;
  }
  var numberOfReviewsListed = document.getElementsByClassName('one-review').length
  if(length >= 10) {
    return;
  }
  ss.docChanges().forEach(function(change) {
    if(change.type == "added") {
      var doc = change.doc.data();
      var text = ""
      var i = 0
      for(i = 0; i < doc.rating; i++) {
        text += '<i class=\"fas fa-star\"></i>'
      }
      for(i = 0; i < 5-doc.rating; i++){
        text+= '<i class=\"far fa-star\"></i>'
      }
      var node = document.createElement('div');
      var dateOptions = {
        weekday: 'long',
        year: 'numeric',
        month: 'long',
        day: 'numeric',
        hour: 'numeric',
        minute: 'numeric',
        second: 'numeric',
        timeZoneName: 'short'
      };
      node.className = 'media-body';
      node.innerHTML = '<div class=\"media-heading\">\
      <div class=\"row\">\
      <div class=\"col-md-6\"\
      <p>' + doc.car + '</p>\
      </div>\
      <div class=\"col-md-6 text-success\">\
      <small>' + doc.created_at.toDate().toLocaleDateString('en-US', dateOptions) + '</small>\
      </div>\
      </div>\
      <div class="row text-success">\
      <div class="col-md-12">\
      ' + text + '\
      </div>\
      </div>\
      <div class=\"row pt-2\">\
      <div class=\"col-md-12\">\
      <p>' + doc.comment + '</p>\
      </div>\
      </div>\
      </div>\
      </div>\
      <hr>';
      document.getElementById('title').parentNode.insertBefore(node, document.getElementById('title').nextSibling);
      //  console.log("new reviews: ", change.doc.data());
    }
  });
});
</script>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="card card-plain">

    </div>
  </div>
</div>

  <!-- Start of reviews --->
  <div class="container">
    <div class="media comment-box">
      <div class="col-md-12">
        <div class="media-left" id="title">
          <h2 class = "heading">Ratings & Reviews</h2>
        </div>

        <% @data.each do |d| %>
        <div class="meda-body">
          <div class="media-heading">
            <div class="one-review">
              <div class="row">
                <div class="col-md-6">
                  <p class="ptag"><%= d.data[:car] %></p>
                </div>
                <div class="col-md-6 text-success">
                  <small class="date"><%= d.data[:created_at].strftime("%A, %B %e, %k:%M:%S %p %Z") %></small>
                </div>
              </div>
              <div class="row text-success">
                <div class="col-md-12">
                  <% x = d.data[:rating] %>
                  <% y = 5 - d.data[:rating] %>
                  <% (1..x).each do |star| %>
                  <i class="fas fa-star"></i>
                  <% end %>
                  <% (1..y).each do |empty| %>
                  <i class="far fa-star"></i>
                  <% end %>
                </div>
              </div>
              <div class="row pt-2">
                <div class="col-md-12">
                  <p class="ptag"><%= d.data[:comment] %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <% end %>
      </div>
    </div>
  </div>





  <!-- End of reviews -->
