 .comment-box{
    margin-top: 30px !important;
}
/* CSS Test end */

.comment-box img {
    width: 50px;
    height: 50px;
}
.comment-box .media-left {
    padding-right: 10px;
}
.comment-box .media-body p {
    padding: 10px;
}
.comment-box .media-body .media p {
    margin-bottom: 0;
}
.comment-box .media-heading {
  background: #1f105f;
  background: -webkit-linear-gradient(0deg, #1f105f 0%, #27188b 100%);
  background: -o-linear-gradient(0deg, #1f105f 0%, #27188b 100%);
  background: -moz-linear-gradient(0deg, #1f105f 0%, #27188b 100%);
  background: linear-gradient(0deg, #1f105f 0%, #27188b 100%);
    border: 1px solid #ddd;
    padding: 7px 10px;
    position: relative;
    margin-bottom: -1px;
}
.comment-box .media-heading:before {
    content: "";
    width: 12px;
    height: 12px;
    background: #1f105f;
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    left: -6px;
}
.ptag{
	color:white;
}
.date {
	color:white;
}
.fa-star {
  color: gold;
}
